@font-face {
    font-family: timerFont;
    src: local('E1234.ttf'), url('../../font/E1234.ttf') format('truetype');
}

.lap{
    font-family: timerFont;
    background-color: black;
    color: white;
    display: inline;
    font-weight: bold;
    font-size: 300%;
}

.lap-label {
    font-family: 'Racing Sans One';
    display: inline;
    font-size: 300%;
}