@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

*{ 
    font-family: 'Racing Sans One';
}

.podium2{
    background-image: url('../../../public/Podium.png');
    height:500px;
    width:630px;
   
}
