@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

.container1{
    position: relative;
    height: 150px;
    background-image: url(../../../public/Race\ track\ time\ line.webp);
    background-position: center;
    background-size: cover; 
    border-radius: 5px;

} 

.progress-line1 {
     width: 55px;
     padding-bottom: 10px;
     padding-top: 5px;
     content: url(../../../public/TestCar.png);
     
}

.correct-line1{
    width: 55px;
     padding-bottom: 10px;
     padding-top: 5px;
     margin-left: 60px;
     content: url(../../../public/TestCar.png);
}

.correct-line2{
    width: 55px;
     padding-bottom: 10px;
     padding-top: 5px;
     margin-left: 150px;
     content: url(../../../public/TestCar.png);
}

.correct-line3{
    width: 55px;
     padding-bottom: 10px;
     padding-top: 5px;
     margin-left: 240px;
     content: url(../../../public/TestCar.png);
}

.correct-line4{
    width: 55px;
     padding-bottom: 10px;
     padding-top: 5px;
     margin-left: 330px;
     content: url(../../../public/TestCar.png);
}

.correct-line5{
    width: 55px;
     padding-bottom: 10px;
     padding-top: 5px;
     margin-left: 420px;
     content: url(../../../public/TestCar.png);
}

.correct-line6{
    width: 55px;
     padding-bottom: 10px;
     padding-top: 5px;
     margin-left: 510px;
     content: url(../../../public/TestCar.png);
}

.correct-line7{
    width: 55px;
     padding-bottom: 10px;
     padding-top: 5px;
     margin-left: 600px;
     content: url(../../../public/TestCar.png);
}
 
.correct-line8{
    width: 55px;
     padding-bottom: 10px;
     padding-top: 5px;
     margin-left: 690px;
     content: url(../../../public/TestCar.png);
}

.correct-line9{
    width: 55px;
     padding-bottom: 10px;
     padding-top: 5px;
     margin-left: 780px;
     content: url(../../../public/TestCar.png);
}

.correct-line10{
    width: 55px;
     padding-bottom: 10px;
     padding-top: 5px;
     margin-left: 870px;
     content: url(../../../public/TestCar.png);
}
label{
    display: inline-block;
    padding: 5px;
    padding-left: 75px;
    font-family: 'Racing Sans One';
}

.Cbtn{
    display:flex;
    justify-items: center;
}

