.question_category {
    color: black;
    font-family: 'Racing Sans One';
    font-weight: bold;
    font-size: 250%;
}

.question_content {
    color: black;
    font-family: 'Racing Sans One';
    font-size: 200%;
}

.question_choice {
    font-size: 100%;
}

.question_number {
    color: black;
    font-family: 'Racing Sans One';
    font-size: 200%;
}

.answer_number {
    color: black;
    font-size: 200%;
    display: inline;
}

.correct_message {
    color: green;
    font-weight: bold;
    font-size: 150%;
    display: inline;
}

.incorrect_message {
    color: red;
    font-weight: bold;
    font-size: 150%;
    display: inline;
}

.no-new-line {
    display: inline;
}