@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

.question_category {
    color: black;
    font-weight: bold;
    font-size: 250%;
    font-family: 'Racing Sans One';
}

.question_content {
    color: black;
    font-size: 200%;
    font-family: 'Racing Sans One';
}

.question_number {
    color: black;
    font-size: 200%;
    font-family: 'Racing Sans One';
}

.answer_number {
    color: black;
    font-size: 200%;
    display: inline;
    font-family: 'Racing Sans One';
}

.correct_message {
    color: green;
    font-weight: bold;
    font-size: 150%;
    display: inline;
    font-family: 'Racing Sans One';
}

.incorrect_message {
    color: red;
    font-weight: bold;
    font-size: 150%;
    display: inline;
    font-family: 'Racing Sans One';
}

.no-new-line {
    display: inline;
}